<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/precios.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Precios Mutual de seguros</title>
</head>
<body>
    <div class="btn-inicio"><a href="/index.html">
        <div class="contenedor-btn-inicio"><i class="fa-solid fa-arrow-left"></i>Volver</div>
    </a></div>
    <div class="foto"><img src="/assets/img-index/logo_2019.png" alt=""></div>
    <div class="container-prices">
        <div class="titulo"> <h3 class="titulo-precios">Lista de precios <span class="soap">SOAP</span> vehículos particulares(Vigencia
            desde 01/04/2024)</h3></div>
       
        <div class="lista-precios">
            <div class="left">
                <article>
                    <h3>Autos</h3>
                    <h3>$8.500</h3>
                </article>
                <article>
                    <h3>Jeep</h3>
                    <h3>$8.500</h3>
                </article>
                <article>
                    <h3>St. Wagon</h3>
                    <h3>$8.500</h3>
                </article>
                <article>
                    <h3>Camioneta</h3>
                    <h3>$10.500</h3>
                </article>
                <article>
                    <h3>Furgón</h3>
                    <h3>$10.500</h3>
                </article>
            </div>
            <div class="right">
                <article>
                    <h3>Casa Rodante</h3>
                    <h3>$10.500</h3>
                </article>
                <article>
                    <h3>Carro Arrastre</h3>
                    <h3>$7.000</h3>
                </article>
                <article>
                    <h3>Minibus particular</h3>
                    <h3>$25.000</h3>
                </article>
                <article>
                    <h3>Moto</h3>
                    <h3>$46.000</h3>
                </article>
            </div>
    </div>
    <div class="contenedor-btn"><a
        href="https://core.mutualdeseguros.cl/soap_ms/"
        class="link-compra-dos" target="_blank">Paga tu SOAP aquí</a></div>
     <!-- Footer -->
     <section class="footer">
        <div class="footer-col-uno">
            <img src="/assets/img-index/8dad6d13-a567-47d2-bf2f-8e5550775abd.jpg" alt="">
            <p>© 2022 SOAP AYUDA. Creado por Seguro Obligatorio.</p>
            <div class="redes">
                <a href="#" class="insta"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="face"><i class="fa-brands fa-facebook-f"></i></a>
            </div>
        </div>
        <div class="footer-col-dos">
            <h3>ATENCIÓN AL PÚBLICO</h3>
            <p>Lunes - Viernes 8:30 hrs. a 14:00 y 15:00 hrs. a 18:00 hrs.</p>
        </div>
        <div class="footer-col-tres">
            <h3>DATOS DE CONTACTO</h3>
            <div class="datos">
                <span><i class="fa-solid fa-envelope"></i> contacto.soapayuda@gmail.com</span>
                <span><i class="fa-solid fa-phone"></i> (32) 2233491</span>
                <span><i class="fa-solid fa-location-dot"></i> Av. Colón 3192. Valparaíso</span>
            </div>
        </div>
    </section>
   
</body>
</html>