body {
    text-align: center;
    font-family: Arial, sans-serif;
}
#contenido {
    margin-top: 150px;
    opacity: 0; /* Inicialmente establece la opacidad en 0 */
    animation: fade-in 1s ease-out forwards; /* Agrega una animación de desvanecimiento */
}

#imagenDonacion {
    width: 200px; /* Ajusta el tamaño máximo de la imagen al ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina el espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    border-radius: 8px; /* Añade esquinas redondeadas al borde */
}

#textoDonacion {
    color:#1e5db2;
    font-size: 2em;
    font-weight: 700;
    margin-top: 10px;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}